{{> head}}

<body>
{{> navbar}}

    <div class="container">
    {{{ body }}}
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(() => {
        $('.sidenav').sidenav()
    })
</script>
</body>

</html>