<form action="/create" method="POST">
    <h3>Create todo</h3>

    <div class="input-field">
        <input id="todo_title" type="text" name="title">
        <label for="todo_title">Todo title</label>
    </div>

    <button type="submit" class="btn">Create</button>
</form>