<form action="/edit/{{_id}}" method="POST">
    <h3>Edit todo</h3>

    <div class="input-field">
        <input id="todo_title" type="text" name="title" value="{{todoTitle}}">
        <label for="todo_title">New Title</label>
    </div>

    <button type="submit" class="btn orange darken-4">Edit</button>
</form>